// BASIC LAYOUT STUFF \\

* {
	-webkit-box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
}

// --- WHITE SPACE --- \\
.white-space {
	height: 80%;
	width: 100%;
}

.buffer {
	height: 33.3333%;
}

.name {
	width: 33.3333%;
	float: right;
}

.blurb {
	width: 80%;
	float: left;
	padding-top: 4%;
}

// --- TOP NAV --- \\

.social-links {
	width: 100%;
	position: absolute;
	z-index: -1;
	// top: -5%;

	ul {
		height: 100%;
		width: 100%;
		padding-right: 12%;
	}

	li {
		height: 100%;
		float: right;
		display: inline-block;
		margin: 0 1%;

		p {
			line-height: 1.5em;
		}
	}
}

// --- CONTENT --- \\

.main-content-wrapper {
	position: absolute;
	height: 90%;
	width: 100%;
}

.content-background {
	position: absolute;
	height: 100%;
	width: 100%;
}

.content {
	position: relative;
	height: 90%;
	width: 100%;
	top: 10%;
}

.column-wrapper {
	position: relative;
	height: 90%;
	width: 80%;
	margin: 0 auto;
	top: 10%%;
}

.content-container {
	height: 100%;
	width: 33%;
	float: left;
	padding: 2%;
}

.title-wrapper {
	line-height: 2em;
}

// --- FOOTER --- 

.footer-wrapper {
	height: 10%;
	width: 100%;
	position: relative;
}

.footer {
	height: 0%;
	width: 100%;
	position: absolute;
	top: 100%;
}




