// VARIABLE DECLARATIONS \\

$main-green:  #3CCF41;
$main-pink:   #CD52CF;
$main-yellow: #E2E523;
$main-orange: #E55C30;

// --- FONT DECLARATIONS --- \\

@font-face {
    font-family: 'bebas_neueregular';
    src: url(asset_path('BebasNeue-webfont.eot'));
    src: url(asset_path('BebasNeue-webfont.eot?#iefix')) format('embedded-opentype'),
         url(asset_path('BebasNeue-webfont.woff')) format('woff'),
         url(asset_path('BebasNeue-webfont.ttf')) format('truetype'),
         url(asset_path('BebasNeue-webfont.svg#bebas_neueregular')) format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
	font-family: 'bebas_neueregular', sans-serif;
	font-size: 1.8em;
}

p {
	font-family: 'Open Sans';
	font-weight: 300;
	font-size: 1em;
	line-height: 1.4em;
}

a:link, a:hover, a:visited, a:active {
	color: black;
	text-decoration: none;
}

.social-links {
	p {
		border-bottom: 1px solid black;
	}
}

// ---- MAIN CONTENT ---- \\

.content-background {
	background-color: $main-green;
}

// .content-background-1 {
// 	background-color: $main-orange;
// }

.title-wrapper {
	border-bottom: 1px solid black;
}

// ----- FOOTER ----- \\

.footer-wrapper {
	background-color: $main-green;
}
