// VARIABLE DECLARATIONS \\

$main-green:  #3CCF41;
$main-pink:   #CD52CF;
$main-yellow: #E2E523;
$main-orange: #E55C30;

h1, p {
	font-family: 'Open Sans', sans-serif;
}

h1 {
	font-weight: 700;
	font-size: 1.3em;
}

p {
	font-weight: 300;
	font-size: 0.8em;
	line-height: 1.4em;
}

a:link, a:hover, a:visited, a:active {
	color: black;
	text-decoration: none;
}

.social-links {
	p {
		border-bottom: 1px solid black;
	}
}

// ---- MAIN CONTENT ---- \\

.content-background {
	background-color: $main-green;
}

.title-wrapper {
	border-bottom: 1px solid black;
}

// ----- FOOTER ----- \\

.footer-wrapper {
	background-color: $main-green;
}
