<div class="white-space">
	<div class="buffer"></div>
	<div class="name"><h1>Sanborn Hilland</h1>
		<div class="blurb">
			
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut laboriosam ab quae aspernatur ea cupiditate. Corporis, vero, obcaecati dolorum consequatur laudantium maxime quam quisquam ipsam tempora optio aliquam sint repellendus.</p>
		</div>


	</div>

</div>

<div class="main-content-wrapper">
	

</div>