<div class="column-wrapper">
		<div class="content-container" id="blog-column" data-color="#CD52CF">
			<div class="title-wrapper"><h1>Blog</h1></div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, porro, sed, fugit, possimus accusantium animi voluptas impedit magni nihil libero excepturi ad aut aliquam illo reprehenderit doloremque qui quibusdam accusamus. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, nulla qui maiores accusamus eius unde delectus quisquam voluptate soluta nihil. Consequatur, ipsam veritatis quasi illum quae dicta quaerat minus minima.</p>
		</div>

	<div class="content-container" id="work-column" data-color="#E2E523">
		<div class="title-wrapper"><h1>Work</h1></div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque, mollitia, iste quas earum nisi quae animi quod placeat neque odit reprehenderit quidem quia perferendis molestias totam alias assumenda sunt aliquid. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis, magnam, velit alias necessitatibus aspernatur explicabo reiciendis ullam modi libero nisi doloremque dignissimos maiores officiis eveniet corrupti atque quo culpa deleniti!</p>
	</div>
	<%# link_to about_path do %>
		<div class="content-container" id="about-column" data-color="#E55C30">
			<div class="title-wrapper"><h1>About</h1></div>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere accusantium culpa blanditiis dolorem ipsum unde delectus impedit fugiat. In, quasi, cupiditate optio neque similique vero qui soluta ducimus veniam magnam. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id, molestiae, necessitatibus nobis voluptatibus odit eaque deserunt animi quod reprehenderit itaque reiciendis fugiat magni pariatur atque suscipit nemo alias praesentium voluptatum!</p>
		</div>
	<%# end %>
</div>

